@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.select-historical{
    border-color: white;
    background-color: #333333;
    color: white;
    border-radius: 0;
    width: 23vh;
    height: 6vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}
.select-historical:active { 
    background: #c4c4c4; 
    color: black; 
    padding: 4vh;
  } 

.select-historical:hover { 
    padding: 4vh; 
    background: #c4c4c4; 
    color:black; 
  } 
  .select-nav:focus { 
    background: #c4c
                    4c4; 
    color:black; 
  } 

