@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.generalContainer{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
