.main-container-navigation{
    display: flex;
    height: 100vh;
    width: 218vh;
    background: url(../../Assets/backgroundNavigation.jpeg);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
.dir-analyst-button-navig{
    background-color:white;
    opacity:  .4;
    border-radius: 12px;
    border: none;
    width: 32vh;
    height: 12vh;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2vh;
    align-items: center;
    font-size: 6vh;
}
.dir-analyst-button-navig:hover{
    background-color:white;
    opacity:  .6;
    border-radius: 12px;
    border: none;
    width: 30vh;
    height: 10vh;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2vh;
    align-items: center;
    font-size: 6vh;
}
.container-buttons-navigation{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 32vh;
}
.image-navigation{
    margin-bottom: 8vh;
    width: 60vh;
    height: 30vh;
