
.App{
    background-color: white;
}
.grapchis-Container {
    display: flex;
    
}
.graphics-right{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 60%;
    margin-top: 50px;
}
.graphics-left{
    
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 4%;
    margin-left: 5%;
    margin-top: 50px;
}

.founList {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    display: flex;
    height: 550px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.foundListContainer{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

